.group_5748{
    width: 15vh;
    position: absolute;
    top: 112%;
    left: -2%;
}
.group_5748_right{
    width: 15vh;
    position: absolute;
    top: 175%;
    right: -2%;
    /* left: -2%; */
}
.group_5739_left{
    width: 12%;
    position: absolute;
    top: 310%;
    left: -6%;
}
.group_5738_right{
    width: 12%;
    position: absolute;
    top: 220%;
    right: -5%;
}
.group_5748_right_1{
    width: 15vh;
    position: absolute;
    top: 322%;
    right: -3.5%;
}
.group_5748_left{
    width: 15vh;
    position: absolute;
    top: 420%;
    left: -2%;
}
.group_5738_right_2{
    width: 12%;
    position: absolute;
    top: 400%;
    right: -5%;
}
.group_5748_right_2{
    width: 15vh;
    position: absolute;
    top: 492%;
    right: -3.5%;
}
.group_5739_left_1{
    width: 12%;
    position: absolute;
    top: 485%;
    left: -6%;
}